.search-wrapper {
  margin: 10px 0 5px 0;

  .search-input {
    width: 260px;
  }

  .btn-search {
    height: 30px;
    margin-left: 5px;

    .search-icon {
      max-width: inherit;
      width: 16px;
      height: 16px;
    }
  }
}

.table tr:first-child td {
  border-top: none !important;
}